<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="HelloTestNgSuite">
    <test name="HelloWorldTest" preserve-order="true" thread-count="10" parallel="methods">
        <classes>
            <class name="APIAutomation.restAssured"/>
            <class name="APIAutomation.RestPostMethod"/>
        </classes>
    </test>
</suite>